<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quaerat ea quo et, maxime provident quod error, non aspernatur exercitationem dicta numquam voluptatum in officia pariatur, minus nihil placeat doloribus!</p>
</body>
</html>